html {
  font-size: 16px;
  font-size: calc(16px + (24 - 16) * ((100vh - 240px) / (1600 - 240)));
  font-family: "Spectral", serif;
}

body {
  color: #1a1a1a;
  background-color: #f7f7f7;

  min-width: 240px;
  height: 100vh;

  margin: 0;

  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding-top: 1vh;
}

.logo {
  background: url("assets/codebowl-logo.svg") center no-repeat;
  background-color: transparent;
  background-size: contain;

  padding: 1em 0;
}

.logo > h1 {
  font-size: 2em;
  letter-spacing: 4vw;

  opacity: 0.3;

  margin: 0;
  padding: 0;
}

main {
  flex: 1 1 auto;
  overflow-y: auto;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 0.5em;
}

section {
  max-width: 40em;
  text-align: left;
}

footer {
  flex: 0 0 auto;
  margin-top: auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  color: #ff6a47;
  opacity: 0.8;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}

.emphasize {
  font-weight: 800;
}

.fade-in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.brand-logo {
  height: 64px;
  height: 3em;
  width: auto;
}

.linkedin-brand-logo {
  height: 41px;
  height: 1.8em;
  width: auto;

  margin: 0 0.7em;
}
